<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401946887610-1athr27vbabt9be3ifbfq5h5hv1sgdvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401946887610-1athr27vbabt9be3ifbfq5h5hv1sgdvr</string>
	<key>API_KEY</key>
	<string>AIzaSyCZJh25B_QCXTyp5w8FEx8voZeo6PYq_h4</string>
	<key>GCM_SENDER_ID</key>
	<string>401946887610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>elia.jadoun.MovieBoxPro</string>
	<key>PROJECT_ID</key>
	<string>movieboxpro-3918f</string>
	<key>STORAGE_BUCKET</key>
	<string>movieboxpro-3918f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401946887610:ios:8fffdd7eb149ee184e8983</string>
</dict>
</plist>